In [4]:
from collections.abc import Iterable
import typing
from collections import namedtuple,defaultdict,Counter
import pandas as pd
import numpy as np

## Pandas

## List

In [87]:
fruits = ['grape', 'raspberry', 'apple', 'banana']

In [88]:
 sorted(fruits)

['apple', 'banana', 'grape', 'raspberry']

In [89]:
sorted(fruits, reverse=True)

['raspberry', 'grape', 'banana', 'apple']

In [90]:
 sorted(fruits, key=len, reverse=True)

['raspberry', 'banana', 'grape', 'apple']

## Iterable

In [39]:
def deactivate_users(users: typing.Iterable[str]):
    """批量停用多个用户
    """
    for user in users:
        print(user)

In [43]:
# deactivate_users({1,2,2,3})
# deactivate_users(['adf','dfdf'])

In [44]:
# 注：为了加强示例代码的说明性，本文中的部分代码片段使用了Python 3.5
# 版本添加的 Type Hinting 特性

def add_ellipsis(comments: typing.List[str], max_length: int = 12):
    """如果评论列表里的内容超过 max_length，剩下的字符用省略号代替
    """
    index = 0
    for comment in comments:
        comment = comment.strip()
        if len(comment) > max_length:
            comments[index] = comment[:max_length] + '...'
        index += 1
    return comments


comments = [
    "Implementation note",
    "Changed",
    "ABC for generator",
]
print("\n".join(add_ellipsis(comments)))

Implementati...
Changed
ABC for gene...

In [45]:
def add_ellipsis_gen(comments: typing.Iterable[str], max_length: int = 12):
    """如果可迭代评论里的内容超过 max_length，剩下的字符用省略号代替
    """
    for comment in comments:
        comment = comment.strip()
        if len(comment) > max_length:
            yield comment[:max_length] + '...'
        else:
            yield comment


print("\n".join(add_ellipsis_gen(comments)))

Implementati...
Changed
ABC for gene...

In [1]:
class Squares:
    def __init__(self, length):
        self.length = length
        self.i = 0
    
    def next_(self):
        if self.i >= self.length:
            raise StopIteration
        else:
            result = self.i ** 2
            self.i += 1
            return result           
        
    def __len__(self):
        return self.length

In [2]:
sq = Squares(5)
while True:
    try:
        print(sq.next_())
    except StopIteration:
        # reached end of iteration
        # stop looping
        break

0
1
4
9
16

## Defaultdict

In [22]:
person = defaultdict(lambda : 'Key Not found') # 初始默认所有key对应的value均为‘Key Not Found’
person['name'] = 'xiaobai'
person['age'] = 18
print ("The value of key  'name' is : ",person['name'])
print ("The value of key  'adress' is : ",person['city'])

The value of key  'name' is :  xiaobai
The value of key  'adress' is :  Key Not found

In [21]:
food = (
    ('jack', 'milk'),
    ('Ann', 'fruits'),
    ('Arham', 'ham'),
    ('Ann', 'soda'),
    ('jack', 'dumplings'),
    ('Ahmed', 'fried chicken'),
)

favourite_food = defaultdict(list)

for n, f in food:
    favourite_food[n].append(f)

print(favourite_food)

defaultdict(<class 'list'>, {'jack': ['milk', 'dumplings'], 'Ann': ['fruits', 'soda'], 'Arham': ['ham'], 'Ahmed': ['fried chicken']})

There are a few approaches to work around this issue. For example, you can use .setdefault(). This method takes a key as an argument. If the key exists in the dictionary, then it returns the corresponding value. Otherwise, the method inserts the key, assigns it a default value, and returns that value:

In [66]:
favorites = {"pet": "dog", "color": "blue", "language": "Python"}
favorites.setdefault("fruit", "apple")
favorites

{'pet': 'dog', 'color': 'blue', 'language': 'Python', 'fruit': 'apple'}

In [67]:
favorites.setdefault("pet", "cat")
favorites

{'pet': 'dog', 'color': 'blue', 'language': 'Python', 'fruit': 'apple'}

In [71]:
from collections import defaultdict

pets = [
    ("dog", "Affenpinscher"),
    ("dog", "Terrier"),
    ("dog", "Boxer"),
    ("cat", "Abyssinian"),
    ("cat", "Birman"),
]

group_pets = defaultdict(list)

for pet, breed in pets:
    group_pets[pet].append(breed)

for pet, breeds in group_pets.items():
    print(pet, "->", breeds)

dog -> ['Affenpinscher', 'Terrier', 'Boxer']
cat -> ['Abyssinian', 'Birman']

## Counter

In [24]:
count_list = Counter(['B','B','A','B','C','A','B','B','A','C'])  #计数list
count_list

Counter({'B': 5, 'A': 3, 'C': 2})

In [25]:
count_tuple = Counter((2,2,2,3,1,3,1,1,1))  #计数tuple
count_tuple

Counter({2: 3, 3: 2, 1: 4})

In [29]:
df= pd.DataFrame({'name':['a','b','c','a','a','b'],'value':[1,2,3,4,5,6]})
df

  name  value
0    a      1
1    b      2
2    c      3
3    a      4
4    a      5
5    b      6

In [31]:
counter_result = Counter(df['name'])
counter_result

Counter({'a': 3, 'b': 2, 'c': 1})

In [37]:
# df['frequency'] =[ counter_result[n] for n in df['name'] ] 
df['frequency'] = df['name'].map(df['name'].value_counts())

In [38]:
df

  name  value  frequency
0    a      1          3
1    b      2          2
2    c      3          1
3    a      4          3
4    a      5          3
5    b      6          2

In [72]:
from collections import Counter

letters = Counter("mississippi")
letters

Counter({'m': 1, 'i': 4, 's': 4, 'p': 2})

In [73]:
# Update the counts of m and i
letters.update(m=3, i=4)
letters

Counter({'m': 4, 'i': 8, 's': 4, 'p': 2})

In [74]:
letters.update({"a": 2})
letters

Counter({'m': 4, 'i': 8, 's': 4, 'p': 2, 'a': 2})

In [75]:
from collections import Counter

inventory = Counter(dogs=23, cats=14, pythons=7)

adopted = Counter(dogs=2, cats=5, pythons=1)
inventory.subtract(adopted)
inventory

Counter({'dogs': 21, 'cats': 9, 'pythons': 6})

In [76]:
new_pets = {"dogs": 4, "cats": 1}
inventory.update(new_pets)
inventory

Counter({'dogs': 25, 'cats': 10, 'pythons': 6})

In [77]:
inventory = inventory - Counter(dogs=2, cats=3, pythons=1)
inventory

Counter({'dogs': 23, 'cats': 7, 'pythons': 5})

In [78]:
new_pets = {"dogs": 4, "pythons": 2}
inventory += new_pets
inventory

Counter({'dogs': 27, 'cats': 7, 'pythons': 7})

## Chainmap

In [83]:
from collections import ChainMap

cmd_proxy = {}  # The user doesn't provide a proxy
local_proxy = {"proxy": "proxy.local.com"}
global_proxy = {"proxy": "proxy.global.com"}

config = ChainMap(cmd_proxy, local_proxy, global_proxy)
config.maps

[{}, {'proxy': 'proxy.local.com'}, {'proxy': 'proxy.global.com'}]

The instance attribute .maps gives you access to the internal list of mappings. This list is updatable. You can add and remove mappings manually, iterate through the list, and more.

Additionally, ChainMap provides a .new_child() method and a .parents property:

In [94]:
from collections import ChainMap

dad = {"name": "John", "age": 35}
mom = {"name": "Jane", "age": 31}
family = ChainMap(mom, dad)
family

ChainMap({'name': 'Jane', 'age': 31}, {'name': 'John', 'age': 35})

In [95]:
son = {"name": "Mike", "age": 0}
family = family.new_child(son)

for person in family.maps:
    print(person)

{'name': 'Mike', 'age': 0}
{'name': 'Jane', 'age': 31}
{'name': 'John', 'age': 35}

In [96]:
family.parents

ChainMap({'name': 'Jane', 'age': 31}, {'name': 'John', 'age': 35})

## Customizing Built-Ins: UserString, UserList, and UserDict

In [99]:
from collections import UserDict
class LowerDict(UserDict):
    def __setitem__(self, key, value):
        key = key.lower()
        super().__setitem__(key, value)


ordinals = LowerDict({"FIRST": 1, "SECOND": 2})
ordinals["THIRD"] = 3
ordinals.update({"FOURTH": 4})

ordinals

{'first': 1, 'second': 2, 'third': 3, 'fourth': 4}

In [100]:
isinstance(ordinals, dict)

False

## if else

In [ ]:
def timesince(date):
    now = timezone.now()
    diff = now - date

    if diff.days == 0 and diff.seconds >= 0 and diff.seconds < 60:
        return ' just now'
    if diff.days == 0 and diff.seconds >= 60 and diff.seconds < 3600:
        return str(math.floor(diff.seconds / 60)) + " minutes ago"
    if diff.days == 0 and diff.seconds >= 3600 and diff.seconds < 86400:
        return str(math.floor(diff.seconds / 3600)) + " hours ago"
    if diff.days == 1 and diff.days < 30:
        return str(diff.days) + " day ago"
    if diff.days >= 1 and diff.days < 30:
        return str(diff.days) + " days ago"
    if diff.days >= 30 and diff.days < 365:
        return str(math.floor(diff.days / 30)) + " months ago"
    if diff.days >= 365:
        return str(math.floor(diff.days / 365)) + " years ago"

In [46]:
import bisect


# BREAKPOINTS 必须是已经排好序的，不然无法进行二分查找
BREAKPOINTS = (1, 60, 3600, 3600 * 24)
TMPLS = (
    # unit, template
    (1, "less than 1 second ago"),
    (1, "{units} seconds ago"),
    (60, "{units} minutes ago"),
    (3600, "{units} hours ago"),
    (3600 * 24, "{units} days ago"),
)


def from_now(ts):
    """接收一个过去的时间戳，返回距离当前时间的相对时间文字描述
    """
    seconds_delta = int(time.time() - ts)
    unit, tmpl = TMPLS[bisect.bisect(BREAKPOINTS, seconds_delta)]
    return tmpl.format(units=seconds_delta // unit)

In [52]:
import time
import datetime
now = time.time()
print(from_now(now))
print(from_now(now - 24))
print(from_now(now - 600))
print(from_now(now - 7500))
print(from_now(now - 87500))

less than 1 second ago
24 seconds ago
10 minutes ago
2 hours ago
1 days ago

## namedtuple

In [59]:
Person = namedtuple('Person', 'name age city')        # 类似于定义class
xiaobai = Person(name="xiaobai", age=18, city="paris") # 类似于新建对象
print(xiaobai)

Person(name='xiaobai', age=18, city='paris')

In [60]:
class DataPoint(namedtuple('DataPoint', ['date', 'value'])):
    __slots__ = ()

    def __le__(self, other):
        return self.value <= other.value

    def __lt__(self, other):
        return self.value < other.value

    def __gt__(self, other):
        return self.value > other.value

In [61]:
# def read_prices(csvfile, _strptime=datetime.strptime):
#     with open(csvfile) as infile:
#         reader = csv.DictReader(infile)
#         for row in reader:
#             yield DataPoint(date=_strptime(row['Date'], '%Y-%m-%d').date(),
#                             value=float(row['Adj Close']))

In [82]:
City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [83]:
tokyo._fields

('name', 'country', 'population', 'coordinates')

In [84]:
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))
delhi = City._make(delhi_data) 
delhi._asdict() 
for key, value in delhi._asdict().items():
    print(key + ':', value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)

In [86]:
delhi.coordinates.lat

28.613889

In [4]:
from collections import namedtuple

Person = namedtuple("Person", "name age height")
jane = Person("Jane", 25, 1.75)
print(jane._asdict())
jane._asdict()['name']

OrderedDict([('name', 'Jane'), ('age', 25), ('height', 1.75)])

'Jane'

##### Replacing Fields in Existing namedtuple Instances

In [5]:
from collections import namedtuple

Person = namedtuple("Person", "name age height")
jane = Person("Jane", 25, 1.75)
# After Jane's birthday
jane = jane._replace(age=26)
jane

Person(name='Jane', age=26, height=1.75)

##### Exploring Additional namedtuple Attributes

In [6]:
from collections import namedtuple

Person = namedtuple("Person", "name age height")

ExtendedPerson = namedtuple(
    "ExtendedPerson",
    [*Person._fields, "weight"]
)

jane = ExtendedPerson("Jane", 26, 1.75, 67)
jane

jane.weight

67

#####  For loop  namedtuple

In [7]:
from collections import namedtuple

Person = namedtuple("Person", "name age height weight")
jane = Person("Jane", 26, 1.75, 67)
for field, value in zip(jane._fields, jane):
    print(field, "->", value)

name -> Jane
age -> 26
height -> 1.75
weight -> 67

#####  Default values

In [12]:
from collections import namedtuple

Person = namedtuple(
    "Person",
    "name age height weight country",
    defaults=["Canada",75]
)

print(Person._field_defaults)


Mike= Person("Mike",24,180)
Mike

{'weight': 'Canada', 'country': 75}

Person(name='Mike', age=24, height=180, weight='Canada', country=75)

##### Returning Multiple Named Values From Functions

In [13]:
from collections import namedtuple

def custom_divmod(a, b):
    DivMod = namedtuple("DivMod", "quotient remainder")
    return DivMod(*divmod(a, b))


custom_divmod(8, 4)

DivMod(quotient=2, remainder=0)

##### Reducing the Number of Arguments to Functions

In [14]:
User = namedtuple("User", "username client_name plan")
user = User("john", "John Doe", "Premium")

def create_user(db, user):
    db.add_user(user.username)
    db.complete_user_profile(
        user.username,
        user.client_name,
        user.plan
    )

##### namedtuple vs Data Class

Data Classes can be thought of as “mutable namedtuples with defaults.” (Source) However, it’d be more accurate to say that data classes are like mutable named tuples with type hints. The “defaults” part isn’t a difference at all because named tuples can also have default values for their fields. So, at first glance, the main differences are mutability and type hints.

In [17]:
from dataclasses import dataclass

@dataclass
class Person:
    name: str
    age: int
    height: float
    weight: float
    country: str = "Canada"


jane = Person("Jane", 25, 1.75, 67)
print(jane.name)
jane.name = "Mike"
jane.name

Jane

'Mike'

##### Add fronzen=True, can't modify data any more

In [18]:
from dataclasses import dataclass

@dataclass(frozen=True)
class Person:
    name: str
    age: int
    height: float
    weight: float
    country: str = "Canada"


jane = Person("Jane", 25, 1.75, 67)
jane.name = "Jane Doe"

FrozenInstanceError: cannot assign to field 'name'

##### Subclassing namedtuple Classes

In [33]:
from collections import namedtuple
from datetime import date

BasePerson = namedtuple(
    "BasePerson",
    "name birthdate country",
    defaults=["Canada"]
)

class Person(BasePerson):
    """A namedtuple subclass to hold a person's data."""
    __slots__ = ()
    def __repr__(self):
        return f"Name: {self.name}, age: {self.age} years old."
    @property
    def age(self):
        return (date.today() - self.birthdate).days // 365


print(Person.__doc__)
jane = Person("Jane", date(1996, 3, 5))
jane.age

A namedtuple subclass to hold a person's data.

25

## Deque

Python’s deque is a low-level and highly optimized double-ended queue that’s useful for implementing elegant, efficient, and Pythonic queues and stacks, which are the most common list-like data types in computing.

Here’s a summary of the main characteristics of deque:

- Stores items of any data type
- Is a mutable data type
- Supports membership operations with the in operator
- Supports indexing, like in a_deque[i]
- Doesn’t support slicing, like in a_deque[0:2]
- Supports built-in functions that operate on sequences and iterables, such as len(), sorted(), reversed(), and more
- Doesn’t support in-place sorting
- Supports normal and reverse iteration
- Supports pickling with pickle
- Ensures fast, memory-efficient, and thread-safe pop and append operations on both ends

In [34]:
from collections import deque

# Create an empty deque
deque()

deque([])

In [35]:
# Use different iterables to create deques
print(deque((1, 2, 3, 4)))

deque([1, 2, 3, 4])

In [37]:
print(deque([1, 2, 3, 4]))
print(deque(range(1, 5)))
print(deque("abcd"))
numbers = {"one": 1, "two": 2, "three": 3, "four": 4}
print(deque(numbers.keys()))
print(deque(numbers.values()))
print(deque(numbers.items()))

deque([1, 2, 3, 4])
deque([1, 2, 3, 4])
deque(['a', 'b', 'c', 'd'])
deque(['one', 'two', 'three', 'four'])
deque([1, 2, 3, 4])
deque([('one', 1), ('two', 2), ('three', 3), ('four', 4)])

##### Popping and Appending Items Efficiently

In [38]:
from collections import deque

numbers = deque([1, 2, 3, 4])
numbers.popleft()

1

In [40]:
numbers.popleft()

2

In [41]:
numbers.appendleft(2)
numbers.appendleft(1)
numbers

deque([1, 2, 3, 4])

In [42]:
from collections import deque
# By default , pop delete and return the right last element in the deck
numbers = deque([1, 2, 3, 4])
numbers.pop()
numbers

deque([1, 2, 3])

#####  Performance vs list

In [43]:
from collections import deque
from time import perf_counter

TIMES = 10_000
a_list = []
a_deque = deque()

def average_time(func, times):
    total = 0.0
    for i in range(times):
        start = perf_counter()
        func(i)
        total += (perf_counter() - start) * 1e9
    return total / times

list_time = average_time(lambda i: a_list.insert(0, i), TIMES)
deque_time = average_time(lambda i: a_deque.appendleft(i), TIMES)
gain = list_time / deque_time

print(f"list.insert()      {list_time:.6} ns")
print(f"deque.appendleft() {deque_time:.6} ns  ({gain:.6}x faster)")

list.insert()      2241.45 ns
deque.appendleft() 217.23 ns  (10.3183x faster)

##### Accessing Random Items in a deque

 - .insert(i, value) : **Insert an item value into a deque at index i.**
 - .remove(value)	: **Remove the first occurrence of value, raising ValueError if the value doesn’t exist.**
 - a_deque[i]	: **Retrieve the item at index i from a deque.**
 - del a_deque[i] : **Remove the item at index i from a deque.**

In [45]:
letters = deque("abde")
letters.insert(2, "c")
letters

deque(['a', 'b', 'c', 'd', 'e'])

In [46]:
letters.remove("d")
letters

deque(['a', 'b', 'c', 'e'])

In [47]:
print(letters[1])
del letters[2]
letters

b

deque(['a', 'b', 'e'])

##### Building Efficient Queues With deque

In [48]:
# custom_queue.py

from collections import deque

class Queue:
    def __init__(self):
        self._items = deque()

    def enqueue(self, item):
        self._items.append(item)

    def dequeue(self):
        try:
            return self._items.popleft()
        except IndexError:
            raise IndexError("dequeue from an empty queue") from None

    def __len__(self):
        return len(self._items)

    def __contains__(self, item):
        return item in self._items

    def __iter__(self):
        yield from self._items

    def __reversed__(self):
        yield from reversed(self._items)

    def __repr__(self):
        return f"Queue({list(self._items)})"

In [50]:
numbers = Queue()
# Enqueue items
for number in range(1, 5):
    numbers.enqueue(number)

numbers

Queue([1, 2, 3, 4])

#####  Limiting the Maximum Number of Items: maxlen

In [51]:
four_numbers = deque([0, 1, 2, 3, 4], maxlen=4) # Discard 0
four_numbers

deque([1, 2, 3, 4])

In [52]:
four_numbers.append(5)  # Automatically remove 1
four_numbers

deque([2, 3, 4, 5])

In [53]:
four_numbers.append(6)  # Automatically remove 2
four_numbers

deque([3, 4, 5, 6])

In [54]:
four_numbers.appendleft(2) # Automatically remove 6
four_numbers

deque([2, 3, 4, 5])

##### Using Sequence-Like Features of deque

In [55]:
numbers = deque([1, 2, 2, 3, 4, 4, 5])
# Concatenation
numbers + deque([6, 7, 8])

deque([1, 2, 2, 3, 4, 4, 5, 6, 7, 8])

In [56]:
# Common sequence methods
numbers = deque([1, 2, 2, 3, 4, 4, 5])
numbers.index(2)

1

In [58]:
numbers.count(4)

2

In [59]:
numbers.reverse()
numbers

deque([5, 4, 4, 3, 2, 2, 1])

In [60]:
numbers.clear()
numbers

deque([])

##### Exercise Keeping a Page History

In [62]:
sites = (
    "google.com",
    "yahoo.com",
    "bing.com"
)

pages = deque(maxlen=3)
pages.maxlen

3

In [63]:
for site in sites:
    pages.appendleft(site)
pages

deque(['bing.com', 'yahoo.com', 'google.com'])

In [65]:
pages.appendleft("facebook.com")
pages.appendleft("twitter.com")
pages

deque(['twitter.com', 'facebook.com', 'bing.com'])

## itertools

In [64]:
from itertools import count

In [70]:
count(1)

count(1)

## OOP

In [73]:
Card = namedtuple('Card', ['rank', 'suit'])
class FrenchDeck:
    ranks = [str(n) for n in range(2, 11)] + list('JQKA')
    suits = 'spades diamonds clubs hearts'.split()
    def __init__(self):
        self._cards = [Card(rank, suit) for suit in self.suits
                                         for rank in self.ranks]
    
    def __len__(self):
        return len(self._cards)
    def __getitem__(self, position):
        return self._cards[position]

In [74]:
deck = FrenchDeck()

In [108]:
import random
class BingoCage:
    __slots__ = ("_items")
    def __init__(self, items):
        self._items = list(items) 
        random.shuffle(self._items) 

    def pick(self): 
        try:
            return self._items.pop()
        except IndexError:
            raise LookupError('pick from empty BingoCage') 
    def __call__(self): 
        return self.pick()

In [109]:

bingo= BingoCage(range(20))
bingo()

10

In [138]:
"""
某日，假设你需要一个类，来记录数学考试的分数。但是稍后你就发现了问题：分数为负值是没有意义的。

# class Score:
#     def __init__(self, math):
#         if math < 0:
#             raise ValueError('math score must >= 0')
#         self.math = math

但这样也没解决问题，因为分数虽然在初始化时不能为负，但后续修改时还是可以输入非法值：幸运的是，有内置装饰器 @property 可以解决此问题。
"""
class Score:
    def __init__(self, math):
        self.math = math

    @property
    def math(self):
        # self.math 取值
        return self._math

    @math.setter
    def math(self, value):
        # self.math 赋值
        if value < 0:
            raise ValueError('math score must >= 0')
        self._math = value

In [146]:
score = Score(90)
score.math =34
score._math

34

In [153]:
# 上面关于赋值检查的 NonNegative 已经展示描述符的其中一种用途了：托管属性并复用代码，保持简洁。


class NonNegative:
    # 注意这里
    # __init__ 也没有了
    def __set_name__(self, owner, name):
        self.name = name

    def __get__(self, instance, owner=None):
        return instance.__dict__.get(self.name)

    def __set__(self, instance, value):
        if value < 0:
            raise ValueError(f'{self.name} score must >= 0')
        instance.__dict__[self.name] = value


class Score:
    # NonNegative() 不需要带参数以规定属性名了
    math = NonNegative()

    def __init__(self, math):
        self.math = math

In [155]:
score = Score(90)
score.math =34
# score.math=-1
# ValueError: math score must >= 0

In [156]:
class Cache:
    """缓存描述符"""
    def __init__(self, func):
        self.func = func
        self.name = func.__name__

    def __get__(self, instance, owner=None):
        instance.__dict__[self.name] = self.func(instance)
        return instance.__dict__[self.name]


from time import sleep

class Foo:
    @Cache
    def bar(self):
        sleep(5)
        return 'Just sleep 5 sec...'

In [157]:
foo = Foo()
foo.bar

'Just sleep 5 sec...'

>Validator

In [168]:
from abc import ABC, abstractmethod

class Validator(ABC):
    """验证器抽象基类"""
    def __set_name__(self, owner, name):
        self.private_name = '_' + name

    def __get__(self, instance, owner=None):
        return getattr(instance, self.private_name)

    def __set__(self, instance, value):
        self.validate(value)
        setattr(instance, self.private_name, value)

    @abstractmethod
    def validate(self, value):
        pass

In [169]:
class OneOf(Validator):
    """字符串单选验证器"""
    def __init__(self, *options):
        self.options = set(options)

    def validate(self, value):
        if value not in self.options:
            raise ValueError(f'Expected {value!r} to be one of {self.options!r}')

class Number(Validator):
    """数值类型验证器"""
    def validate(self, value):
        if not isinstance(value, (int, float)):
            raise TypeError(f'Expected {value!r} to be an int or float')

In [170]:
class Component:
    kind     = OneOf('wood', 'metal', 'plastic')
    quantity = Number()

    def __init__(self, kind, quantity):
        self.kind     = kind
        self.quantity = quantity

In [173]:
# Component('abc', 100) # ValueError                                
c = Component('wood', 100)
c.kind

'wood'

## Cache

In [160]:
from functools import lru_cache
@lru_cache(maxsize=None)
def fib(n):
    if n < 2:
        return n
    return fib(n-1) + fib(n-2)

## Dict

In [117]:
from collections.abc import MutableMapping

class MyDict(MutableMapping):
    def __init__(self, **kwargs):
        self.data = kwargs

    def __getitem__(self, key):
        return self.data[key]

    def __delitem__(self, key):
        del self.data[key]

    def __setitem__(self, key, value):
        self.data[key] = value

    def __iter__(self):
        return iter(self.data)

    def __len__(self):
        return len(self.data)

    def __repr__(self):
        return repr(self.data)

In [118]:
my_dict = MyDict(a=1, b=2)
my_dict.update(c=3)
my_dict['d'] = 4
my_dict.pop('b')

my_dict

{'a': 1, 'c': 3, 'd': 4}

In [120]:
# UserDict 将整个数据结构及方法都默认实现了，要改哪个行为，直接覆写对应的方法就好了，很方便。

from collections import UserDict

class MyDict(UserDict):
    def __setitem__(self, key, value):
        super().__setitem__(key, value * 10)


my_dict = MyDict(a=1, b=2)
my_dict

{'a': 10, 'b': 20}

In [123]:
a = [1,1,1,2,3]
Counter(a)

Counter({1: 3, 2: 1, 3: 1})

In [128]:
def foo(container):
    data = []
    for item in container:
        data.append(item * 10)
    same_cls = type(container)
    return same_cls(data)

In [129]:
a = [1, 2]
b = (3, 4)
c = set([5, 6])

for item in [a, b, c]:
    print(foo(item))

[10, 20]
(30, 40)
{50, 60}